$text: #546e7a;
$red: #e74c3c;
$green: #8bc34a;
$bg: #263238;
$grey: #f4f6f5;
$yellow: #fcb322;
$tomato: #ef6c00;

@mixin f500 {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

@mixin f700 {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}