@import 'vars';
@import 'global';
@import 'fonts';

.header{
    background-color: #ffffff;
}

.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}
.header__btn{
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 12px;
}

.header__btn-login{
    background-color: $green;
}

.header__btn-register,
.header__btn-logout{
    background-color: $red;
    margin-left: 7px;
}
.header__menu{
    background-color: $bg;
}
.menu{
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list{
    li{
        display: inline-block;
        &+li{
            margin-left: 30px;
        }
    }
    a{
        color: #fff;
        font-size: 14px;
    }
}

.header__circle{
    &.active{
        display: block;
    }
    display: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
    span{
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        right: -7px;
        top: -7px;
        font-size: 11px;
        color: #fff;
    }
}

.header__box{
    display: flex;
    align-items: center;
}

.header__btn-login--off{
    display: none;
}

.header__btn-logout{
    display: none;
    &.header__btn-login--on{
        display: block;
    }
}

.notification{
    span{
        background-color: $tomato;
    }
}

.message{
    span{
        background-color: $red;
    }
}

.basket{
    margin-right: 20px;
    span{
        background-color: $green;
    }
}

.user{
    margin-left: 20px;
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::before{
        content: "\f107";
        font-family: 'icomoon';
        position: absolute;
        font-size: 16px;
        color: #707070;
        top: 0;
        right: 0;
    }
    &__inner{
        display: flex;
        align-items: center;
    }
    &__images{     
        margin-right: 15px;
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 50%;
    }
    &__info{
        font-size: 14px;
        line-height: 24px;
    }
    &__name{
        @include f500;
        color: #222222;
    }
    &__money{
        color: $green;
        @include f700;
    }
}

.user__box,
.basket__box,
.notification__box,
.message__box{
    position: relative;
    margin-top: 40px;
    height: 90px;
    &:hover{
        .user__menu{
            height: auto;
            border-width: 1px;
            overflow: auto;
            padding: 20px;
        }
    }
}

.circle__menu{
    position: absolute;
    top: 63px;
    right: 0;
    height: 0;
    overflow: hidden;
    z-index: 1;
}

.basket__box,
.notification__box,
.message__box{
    margin-top: 54px;
    margin-left: 15px;
    &:hover{
        .header__circle::before{
            color: $bg;
        }    
        .circle__menu{
            height: auto;
        }
        .circle__item{
            padding: 23px 23px;
            border-width: 1px;
        }
    }
}

.circle__item{
    background-color: #fff;
    padding: 0 23px;
    border-left-width: 1px;
    border-right-width: 1px;
    border: 0px solid #c4bebe;
    border-top: none;
    transition: all .3s;
    display: flex;
    align-items: center;
    width: 269px;
    position: relative;
    &::before{
        position: absolute;
        right: 28px;
        top: 27px;
        color: #b0bec5;
        font-size: 16px;
    }
}

.circle__images{
    margin-right: 15px;
}

.circle__info-name{
    @include f500;
    color: $bg;
}

.circle__info-thema{
    font-size: 12px;
    color: $green;
}

.circle__info-price{
    @include f500;
    color: #000;
    font-size: 16px;
}

.circle__info-date{
    font-size: 10px;
    color: #707070;
}

.basket__summ{
    padding: 16px 17px 12px;
    border: 1px solid #c4bebe;
    border-top: none;
    background-color: #fff;
}
.basket__title{
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 22px;
    margin-bottom: 15px;
    @include f700;
    font-size: 16px;
    color: $bg;
}

.basket__btn{
    color: #fff;
    @include f700;
    font-size: 14px;
    padding: 12px 5px;
    background-color: $green;
    text-align: center;
    width: 100px;
}

.basket__btn-checkout{
    width: 120px;
    margin-left: 6px;
    background-color: $red;
}

.notification__menu,
.message__menu{
    .circle__images{
        margin-right: 20px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
    .circle__info{
        line-height: 18px;
    }
}

.icons-color::before{
    color: $tomato;
}

.user__menu{
    background-color: #fff;
    position: absolute;
    border: 0px solid #ccc;
    border-top: none;
    padding: 0px 20px;
    width: 158px;
    top: 69px;
    left: 20px;
    transition: all .3s;
    height: 0px;
    overflow: hidden;
    a{
        font-size: 12px;
        color: #546e7a;
        margin-bottom: 15px;
    }
}

.header__btn-menu,
.menu__btn{
    display: none;
}


//--start modal

#modal{
    background-color: $green;
    max-width: 730px;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 100px;
}

.login__title{
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 40px;
    color: #fff;
    @include f700;
}

.login__wrapper{
    form{
        max-width: 400px;
        margin: 0 auto;
    }
    label{
        position: relative;
        display: block;
        width: 100%;
        &::before{
            position: absolute;
            font-family: 'icomoon';
            font-size: 14px;
            color: #fff;
            left: 18px;
            top: 9px;
        }
    }
    .login__label-name::before{
        content: "\f007";
    }
    .login__label-pass::before{
        content: "\f023";
    }
    input{
        height: 43px;
        margin-bottom: 8px;
        border: none;
        background-color: #76ae36;
        color: #fff;
        font-size: 14px;
        padding-left: 40px;
        display: block;
        width: 100%;
        &::placeholder{
            color: #fff;
            font-size: 14px;
        }
    }
    input:focus {
        outline: -webkit-focus-ring-color auto 0px;
    }
    button{
        margin-top: 19px;
        background-color: #fff;
        text-transform: uppercase;
        padding: 18px 0 16px;
        border: none;
        margin-right: 10px;
        @include f700;
        width: 140px;
        color: #000;
        text-align: center;
        box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
        cursor: pointer;
    }
}

.lost-pass{
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    display: block;
}

.create-acc{
    margin-top: 19px;
    padding: 14px 0 14px 28px;
    text-align: center;
    width: 245px;
    background-color: #76ae36;
    color: #fff;
    font-size: 18px;
    position: relative;
    &::before{
        position: absolute;
        content: '\f044';
        top: 15px;
        left: 35px;
        font-family: 'icomoon';
    }
}

.fancybox-button svg{
    color: #fff;
}

// start search

.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
    &.page-search{
        min-height: 230px;
        .search__inner{
            padding: 55px 0px 70px;
            &-text{
                margin-bottom: 20px;
            }
        }
    }
}

.search__inner{
    padding: 155px 0 100px;
    color: #fff;
    text-align: center;
    &-title{
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    }
    &-text{
    font-size: 20px;
    margin-bottom: 50px;
    @include f500;
    line-height: 24px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            padding-left: 20px;
            padding-right: 50px;
            &::placeholder{
                color: #90a4ae;
                @include f500;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 16px;
        }
    }
}

// start products

.products{
    padding: 110px 0;
    background-color: $grey;
}

.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__title{
    color: $bg;
}

.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        padding: 12px 21px;
        border: none;
        background-color: #ffffff;
        color: $bg;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #ffffff;
        }
    }
}

.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    background-color: #fff;
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        font-weight: 500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        color: $bg;
        @include f500;
        font-size: 18px;
        display: block;
    }
    &-category{
        display: block;
        font-size: 14px;
        color: $green;
    }
    &-price{
        font-size: 20px;
        @include f700;
        color: $bg;
    }  
    &-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author{
        display: flex;
        align-items: center;
        max-width: 245px;
        .avatar{
            min-width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
        span{
            font-size: 14px;
            @include f500;
        }
    }
    &-star{
        span{
            color: $bg;
            font-size: 12px;
        }
    }
}

.products__bottom-btn{
    text-align: center;
    button{
        margin: 45px 5px 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;
        &.mixitup-control-active{
            background-color: $red;
            color: #ffffff;
        }
    }
}

// start slider-----------------------

.product-slider{
    padding: 110px 0 120px;
    .slick-dots{
        text-align: center;
        margin-top: 50px;
        li{
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
            &.slick-active{
                button{
                    background-color: $green;
                }
            }
            button{
                border: none;
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

// advantages

.advantages{
    background-color: $bg;
    padding: 110px 0;
}

.advantages__title{
    color: #fff;
}

.advantages__inner{
    display: flex;
    justify-content: space-between;
}

.advantages__item{
    max-width: 370px;
    text-align: center;
    padding: 0 15px;
    transition: all .3s;
    &:hover{
        .advantages__item-images{
            background-color: $green;
        }
        .advantages__item-title{
            color: $green;
        }
        .advantages__item-images{
            g{
                fill: #ffffff;
            }
        }
    }
    &-images{
        width: 114px;
        height: 114px;
        background-color: #fff;
        display: flex;
        margin: 0 auto 30px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: all .3s;
    }
    &-title{
        margin-bottom: 25px;
        color: #fff;
        @include f500;
        padding: 0px 15px;
        font-size: 24px;
        transition: all .3s;
    }
    &-text{
        font-size: 15px;
    }
}

// start autor

.author{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        max-width: 650px;
        min-height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
        width: 100%;
    }
    &__title{
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        margin-right: 45px;
        max-width: 270px;
        span{
            @include f700;
        }
    }
    &__link{
        font-size: 18px;
        line-height: 30px;
        padding: 14px 40px;
        background-color: #fff;
    }
}

// tutorial start

.tutorial{
    padding: 60px 0 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 370px;
        width: 100%;
    }
}

.tutorial__item{
    &-images{
        min-height: 270px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-title{
        @include f700;
        background-color: #f8f8f8;
        text-align: center;
        font-size: 24px;
        color: $bg;
        padding: 30px 10px;
    }
}

// start footer

.footer{
    background-color: $bg;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 100px 0px 80px;
    }
}

.footer__copy{
    border-top: solid 1px #919699;
}

.footer__copy-text{
    text-align: center;
    font-size: 15px;
    color: #919699;
    padding: 25px 0;
}

.footer__col{
    max-width: 270px;
    width: 100%;
    &-menu{
        max-width: 220px;
    }
    &-title{
        font-size: 22px;
        @include f700;
        color: #ffffff;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 2px;
            bottom: 0;
            width: 51px;
            height: 3px;
            background-color: $green;
        }
    }
    &-text{
        color: #b7c3c8;
        margin-bottom: 30px;
    }
}
.footer__info{
    margin-top: 18px;
    color: #ffffff;
    @include f500;
    padding-left: 30px;
    position: relative;
    &::before{
        content: "\f041";
        font-family: 'icomoon';
        color: $green;
        font-size: 18px;
        position: absolute;
        left: 0;
    }
}
.footer__info-phone{
    &::before{
        content: "\f095";
        font-family: 'icomoon';
    }
}

.footer__col-list{
    a{
        color: #b7c3c8;
        margin-bottom: 13px;
        padding-left: 22px;
        position: relative;
        &::before{
            content: "\f105";
            font-family: 'icomoon';
            position: absolute;
            left: 0;
            font-size: 18px;
            color: $green;
        }
    }
}

.footer__social-link{
    margin-bottom: 33px;
    li{
        display: inline-block;
        &+li{
            margin-left: 7px;
        }
    }
    a{
        width: 28px;
        height: 28px;
        background-image: url(../images/content/css_sprites.png);
    }
}


.link-twitter{
background-position: -28px 0;
}
.link-youtube{
    background-position: 0 -28px;
}
.link-pinterest{
    background-position: -28px -28px;
}
.link-linledin{
    background-position: -56px 0;
}

.footer__form-title{
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 20px;
    @include f500;
}

.footer__form{
    position: relative;
    input{
        border: none;
        background-color: #2f3c43;
        display: block;
        width: 100%;
        height: 40px;
        color: #fff;
        font-size: 14px;
        padding: 0 50px 0 13px;
        &::placeholder{
            color: #697378;
        }
    }
    button{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $green;
        border: none;
        height: 40px;
        width: 43px;
        cursor: pointer;
        &::before{
            content: '\f124';
            position: absolute;
            font-family: 'icomoon';
            top: 11px;
            left: 13px;
            color: #ffffff;
            font-size: 20px;
        }
    }
}

// product page

.product-page{
    background-color: #f4f6f5;
}

.product-page__inner{
    display: flex;
    padding-bottom: 110px;
}

.product-page__aside{
    margin-right: 30px;
}

.aside__item{
    border: 1px solid #dedede;
    padding: 0 32px 32px;
    margin-bottom: 30px;
    width: 270px;
    background-color: #ffffff;
}

.aside__title{
    border-bottom: 1px solid #dde3e8;
    padding: 22px 0px 19px;
    font-size: 20px;
    color: $bg;
    @include f700;
}

.category__list{
    padding-top: 10px;
    li{
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 10px 0 10px 20px;
        &::before{
            content: "\f105";
            font-family: 'icomoon';
            position: absolute;
            left: 0;
            font-size: 18px;
            color: #8bc34a;
        }
    }
    a{
        color: $bg;
    }
    span{
        color: #90a4ae;
        margin-left: 10px;
    }
}

.price-range{
    form{
        padding-top: 20px;
    }
    button{
        margin-top: 55px;
        background-color: $green;
        padding: 16px 10px;
        @include f500;
        text-align: center;  
        width: 100%;
        display: block;
        border: none;
        cursor: pointer;
        color: #ffffff;
        position: relative;
        &::before{
            content: '\f002';
            color: #ffffff;
            top: 15px;
            font-size: 15px;
            left: 55px;
            position: absolute;
            font-family: 'icomoon';
        }
    }
}

.irs-min,
.irs-max{
    display: none;
}

.irs--flat .irs-line{
    background-color: #90a4ae;
    height: 5px;
}

.irs--flat .irs-bar{
    background-color: $bg;
    height: 5px;
}

.irs--flat .irs-handle{
    width: 16px;
    height: 16px;
    border: solid 4px $green;
    border-radius: 50%;
    background-color: #ffffff;
}

.irs--flat .irs-handle>i:first-child{
    display: none;
}

.irs-from, .irs-single, .irs-to{
    top: 45px;
}

.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
    display: none;
}

.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
    color: #78909c;
    font-size: 15px;
    line-height: 1.333;
    text-shadow: none;
    padding: 0;
    background-color: transparent;
    border-radius: 0px;
}

.irs--flat .irs-handle{
    top: 19px;
}

.product-page__aside{
    .product__item-img{
        min-height: 120px;
    }
    .product__item{
        box-shadow: none;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #dde3e8;
    }
    .product__item-content{
        padding: 0;
        min-height: 75px;
        border-bottom: none;
    }
    .product__item-info{
        padding: 0;
        min-height: 0;
    }
    .product__item-title{
        font-size: 16px;
    }
    .product__item-price{
        font-size: 16px;
    }
    .product__item-starnum{
        display: none;
    }
    .rate-star{
        margin-right: 0;
    }
    .product__item-author .avatar{
        margin-right: 9px;
    }
    .jq-ry-container{
        padding: 0;
    }
}

.aside__product-item{
    .product__item:last-child{
        border: none;
        padding-bottom: 0;
    }
    .product__item:first-child{
        margin-top: 25px;
    }
}

.top-sellers__link{
    padding: 16px;
    color: #ffffff;
    background-color: $green;
    @include f500;
    text-align: center;
    display: block;
}

.product-page__filter{
    border: 1px solid #dedede;
    padding: 0 20px;
    margin-bottom: 30px;
    background-color: #ffffff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 16px;
        color: #90a4ae;
        outline: none;
        &.active{
            color: $green;
        }
    }
}

.product-page__filter-sort{
    color: #707070;
    font-size: 14px;
    display: flex;
    align-items: center;
}

button.icon-sort-amount-asc{
    font-size: 18px;
    color: #455a64;
}

button.icon-unsorted{
    font-size: 14px;
    color: #707070;
}

.product-page__content{
    width: 100%;
}

.product-page__content{
    .product__item{
        max-width: 270px;
        transition: all .6s;
    }
    .product__item-img{
        padding: 10px 20px;
    }
    .product__item-title{
        font-size: 16px;
    }
    .product__item-info{
        min-height: 65px;
        padding: 10px 20px;
    }
    .rate-star{
        margin-right: 5px;
    }
    .jq-ry-container{
        padding: 0;
    }
}

.product-page__items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.pagination__list{
    li{
        display: inline-block;
        &+li{
            margin-left: 6px;
        }
    }
    a,span{
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        width: 43px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $bg;
        @include f500;
        font-size: 16px;
        &.active{
            background-color: $red;
            color: #fff;
        }
    }
}

.product__item-text{
    display: none;
}

.product__item-list{
    display: none;
    .icon-heart-o{
        display: inline-block;
        font-size: 12px;
        color: #90a4ae;
        padding-left: 50px;
        border-left: 1px solid #aeb4bb;
        position: relative;
        span{
            @include f500;
            color: $bg;
        }
        &::before{
            color: $green;
            font-size: 16px;
            position: absolute;
            left: 20px;
            top: -2px;
        }
    }
    .icon-comment-o{
        font-size: 12px;
        padding-left: 50px;
        padding-right: 30px;
        color: #90a4ae;
        position: relative;
        span{
            @include f500;
            color: $bg;
        }
        &::before{
            color: $green;
            font-size: 16px;
            position: absolute;
            left: 20px;
            top: -2px;
        }
    }
}

.product__item-price{
    span{
        display: none;
    }
}

.flip{
    &.list{
        max-width: 100%;
        .product__item-img{
            width: 240px;
            min-height: 100%;
            float: left;
        }
        .product__item-text{
            display: block;
            font-size: 14px;
            color: #aeb4bb;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .product__item-price{
            font-size: 30px;
            span{
                display: block;
                font-size: 13px;
                color: #aeb4bb;
                margin-top: 30px;
            }
        }
        .product__item-name{
            max-width: 480px;
        }
        .product__item-content{
            padding-top: 23px;
        }
        .product__item-list{
            display: block;
        }
        .product__item-star{
            margin-left: auto;
            margin-right: 30px;
        }
    }
}


// product-one
.product-one{
    padding-bottom: 100px;
}

.product-one__inner{
    display: flex;
}

.product-one__content{
    margin-right: 31px;
    max-width: 870px;
}

.product-one__images-inner{
    background-color: #fff;
    border: 1px solid #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
}

.product-one__images{
    max-width: 829px;
    height: 422px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-one__title{
    font-size: 30px;
    color: $bg;
    line-height: 40px;
    @include f500;
    margin-top: 30px;
    margin-bottom: 20px;
}

.product-one__text{
    font-size: 16px;
    color: #707070;
    margin-bottom: 35px;
    margin-top: 20px;
}

.product-one__box{
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.product-one__link{
    a{
        width: 150px;
        color: $grey;
        font-size: 16px;
        padding: 14px 8px;
        & + a{
            margin-left: 20px;
        }
    }
}
.link-live{
    background-color: $tomato;
}

.link-sreenshots{
    background-color: #455a64;
}

.link-documentation{
    background-color: $green;
}

.product-one__social{
    a{
        width: 54px;
        height: 50px;
        position: relative;
        & + a{
            margin-right: 3px;
        }
        &::before{
            font-size: 18px;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.icon-facebook{
    background-color: #6370b6;
}

.icon-twitter{
    background-color: #64b5f6;
}

.icon-linkedin{
    background-color: #4f71ce;
}

.icon-pinterest-p{
    background-color: #d32f2f;
}

.product-one__more{
    margin-top: 55px;
}

.product-one__more-title{
    color: $bg;
    background-color: #fff;
    font-size: 18px;
    @include f500;
    border: 1px solid #dcdcdc;
    margin-bottom: 28px;
    padding: 18px 25px;
}

.product-one__more-icons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.productmini{
    max-width: 270px;
    background-color: #fff;
    width: 100%;
    display: flex;
    margin-bottom: 27px;
    height: 90px;
    align-items: center;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
}

.productmini__images{
    height: 90px;
    width: 100px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.productmini__name{
    @include f500;
    font-size: 14px;
    color: $bg;
}

.productmini__thema{
    color: $green;
    font-size: 12px;

}

.productmini__price{
    font-size: 18px;
    @include f700;
    color: #000;
}

.product-one__tabs{
    margin-bottom: 55px;
}

.tabs{
    display: flex;
    text-align: center;
    border: 1px solid #d7d7d7;
    .tab{
        width: 100%;
        background-color: #fff;
        font-size: 16px;
        color: #70838d;
        padding: 20px;
        cursor: pointer;
        & + .tab{
            border-left: 1px solid #d7d7d7;
        }
    }
    .active{
        border-bottom: 2px solid $green;
    }
}

.tab_content{
    border: 1px solid #d7d7d7;
    border-top: none;
    background-color: #fff;
    padding: 30px 50px;
}

.tab-item{
    display: none;
    &:first-child{
        display: block;
    }
}

.tab-item__list{
    font-size: 16px;
    line-height: 36px;
    color: #707070;
    column-count: 2;
    li{
        max-width: 270px;
        width: 100%;
    }
}

.price__box{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.price__product{
    font-size: 22px;
    @include f500;
    color: $red;
}

.product__price{
    button{
        box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
        border: none;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        font-family: 'Roboto-Regular', sans-serif !important;
        background-color: $green;
        margin-bottom: 7px;
        text-align: center;
        display: block;
        padding: 17px 5px 15px;
        width: 100%;
        cursor: pointer;
        background-color: $text;
        &::before{
            margin-right: 8px;
            font-family: 'icomoon';
        }
    }
    .icon-shopping-cart{
        background-color: $green;
        font-weight: 700;
    }
    .icon-heart-o{
        background-color: #42a5f5;
        font-weight: 500;
    }
}

.product-author__box{
    display: flex;
    padding: 25px 0;
}

.author__avatar{
    margin-right: 14px;
}

.author__info-link{
    font-size: 13px;
    color: #707070;
    padding: 5px 9px 5px;
    border: 1px solid #d6d6d6;
}
  
.author__name{
    font-size: 18px;
    color: $bg;
    margin-bottom: 2px;
}

.author__awards-list{
    li{
        display: inline-block;
        color: #fff;
        font-size: 20px;
        text-align: center;
        position: relative;
        &::before{
            position: absolute;
            left: 0;
            right: 0;
            top: 6px;
        }
        & + li{
            margin-left: 4px;
        }
    }
    .icon-meh-o{
        background-image:url(../images/orange.png);
        width: 34px;
        height: 37px;
    }
    .icon-pagelines{
        background-image: url(../images/green.png);
        width: 34px;
        height: 37px;
    }
    .icon-bolt{
        background-image: url(../images/red.png);
        width: 34px;
        height: 37px;
    }
    .icon-comment-o{
        background-image: url(../images/blue.png);
        width: 34px;
        height: 37px;
    }
    .icon-yen{
        background-image: url(../images/grey.png);
        width: 34px;
        height: 37px;
    }
}

.aside__item-seles{
    padding-top: 23px;
    font-size: 16px;
    color: #707070;
    span{
        @include f700;
        font-size: 20px;
        color: #000;
        padding-right: 13px;
        &::before{
            content: "\f07a";
            font-family: 'icomoon';
            color: #707070;
            padding-right: 20px;
        }
    }
}

.aside__item.sales-number{
    padding-bottom: 25px;
 }

 .information__line{
     font-size: 14px;
     color: #70838d;
     margin-top: 18px;
     span{
        color: $bg;
        @include f500;
        padding-right: 4px;
     }
 }


 //page-404 start

 .page-404__wrapper,
 .about__wrapper,
 .contact__wrapper{
     border: 1px solid #dcdcdc;
     background-color: #fff;
     margin-bottom: 150px;
 }

 .page-404__inner{
     background-color: $green;
     text-align: center;
     color: #fff;
 }

 .page-404__head,
 .about__head,
 .contact__head{
     font-size: 24px;
     color: #444444;
     @include f500;
     padding: 23px 27px;
     border-bottom: 1px solid #dcdcdc;
 }

 .page-404__404{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 800;
    font-size: 300px;
    padding-top: 70px;
    line-height: 300px;
    position: relative;
    padding-bottom: 20px;
    &::after{
        position: absolute;
        content: '';
        background-image: url(../images/404.png);
        width: 150px;
        height: 292px;
        margin-left: 20px;
    }
 }

 .page-404__title{
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: 2px;
 }

 .page-404__text{
    font-size: 18px;
    max-width: 501px;
    margin: 0 auto;
    margin-bottom: 60px;
 }

.page-404__link{
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 30px 16px;
    border: 2px solid #fff;
    border-radius: 4px;
    margin-bottom: 100px;
}

//about start
.about__inner{
    padding: 0px 50px;
}

.about__box{
    h3{
        @include f700;
        color: #444;
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 15px;
    }
    p{
        margin-bottom: 40px;
    }
}

//start contacts

.contact__inner{
    padding-left: 40px;
    padding-right: 40px;
}

.contact__inner{
    padding: 35px 40px 15px;
}

.contact__map{
    margin-bottom: 50px;
    iframe{
        width: 100%;
        height: 415px;
    }
}

.contact__box{
    display: flex;
}

.contact__info{
    margin-right: 30px;
    max-width: 330px;
    width: 100%;
}

.contact__info-item{
    margin-bottom: 30px;
}

.contact__info-title{
    padding-bottom: 20px;
    padding-left: 40px;
    position: relative;
    font-size: 20px;
    @include f500;
    color: $bg;
    margin-bottom: 20px;
    &::after{
        position: absolute;
        content: '';
        width: 44px;
        height: 4px;
        background-color: $green;
        left: 40px;
        bottom: 0;
    }
    &::before{
        color: $green;
        font-size: 24px;
        position: absolute;
        left: 0;
    }
}

.contact__info-content{
    padding-left: 40px;
    color: #707070;
    font-size: 15px;
    max-width: 270px;
}

.contact__form-title{
    font-size: 24px;
    @include f500;
    color: #333;
    margin-bottom: 20px;
}

.contact__form-raw{
    display: flex;
    justify-content: space-between;
}

.contact__form{
    width: 100%;
    input{
        display: block;
        border: none;
        height: 43px;
        padding-left: 17px;
        padding-right: 17px;
        background-color: #f1f4f5;
        width: 350px;
        margin-bottom: 30px;
        &::placeholder{
            font-size: 15px;
            color: #7a7a7a;
        }
    }
    textarea{
        border: none;
        background-color: #f1f4f5;
        padding: 13px 17px;
        height: 190px;
        width: 100%;
        display: block;
        resize: none;
        margin-bottom: 23px;
        &::placeholder{
            font-size: 15px;
            color: #7a7a7a;
        }
    }
    button{
        border: none;
        background-color: $green;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        @include f700;
        font-size: 16px;
        padding: 20px 25px;
        width: 190px;
    }
}

//settings start

.settings{
    padding-bottom: 100px;
}

.product-one__tabs.settings__tabs{
    display: flex;
    .tabs{
        min-width: 270px;
        margin-right: 30px;
        border: 1px solid #dedede;
        border-bottom: none;
        text-align: left;
        display: block;
        height: 100%;
        span{
            display: block;
            background-color: #fff;
            border-bottom: 1px solid #dedede;
            padding: 17px 17px 17px 50px;
            color: #707070;
            font-size: 14px;
            @include f500;
            &.active{
                border-bottom: 2px solid $green;
                &::before{
                    color: $green;
                }
            }
            &::before{
                left: 24px;
                color: #444;
            }
        }
    }
    .tabs .tab+.tab{
        border-left: none;
    }
    .tab_content{
        width: 100%;
        padding: 0;
        border: none;
        background-color: transparent;
    }
}

.page-box{
    background-color: #fff;
    border: 1px solid #dedede;
    min-height: 100%;
}

.page-box__title{
    border-bottom: 1px solid #dedede;
    padding: 18px 34px;
    @include f500;
    color: $bg;
    font-size: 24px;
}

.page-box__content{
    padding: 30px 35px 80px;
}

.settings__line{
    margin-bottom: 21px;
    display: flex;
    align-items: center;
    label{
        max-width: 260px;
        width: 100%;
        color: #444444;
    }
    input{
        max-width: 540px;
        width: 100%;
        height: 40px;
        background-color: #f9f9f9;
        border: 1px solid #dedede;
        padding: 0 10px;
    }
    select{
        max-width: 540px;
        width: 100%;
        height: 40px;
        background-color: #f9f9f9;
        border: 1px solid #dedede;
        padding: 0 10px;
        color: #707070;
    }
}

@import 'media';